    <!-- Bootstrap -->


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
        <title>Leave Management System</title>
  </head>
  <body>
                                                        <!-- this page is for faculty -->
    <table align="center">
      <tr>
        <th>
            {% include 'user_temp/user_home.html' %}
        </th>
      </tr>
    </table>
    <br>
    <table align="center" border="2">
        <tr>
            <td colspan="2" width="450" align="center">
                <h2 style="font-family: 'Times New Roman'"> Apply For Leave</h2>
            </td>
        </tr>
    </table><br>
    <form action="{% url 'save_leave' %}" method="post">
        {% csrf_token %}
    <table align="center">
    <tr>
        <th height="60" width="100">
            Roll_number/IDNO:<br>
            <input type="number" placeholder="Roll_number/Idno" name="a1" value="{{ data.idno }}"  readonly required>
        </th>
        <th height="60">
            Degisnation:<br>
                <select name="a2" required>
                    <option>HOD</option>
                    <option>Faculty</option>
                </select>
        </th>
    </tr>
    <tr>
        <th height="40">
            To Gmail:<br>
            <select name="a3" required>
                <option>principle@gmail.com</option>
                <option>mca.hod@gmail.com</option>
                <option>mba.hod@gmail.com</option>
                <option>arts.hod@gmail.com</option>
            </select>
        </th>
        <th height="40" width="100">
            Department:
            <input type="text" required placeholder="department" name="a4">
        </th>
    </tr>
        <tr>
        <th colspan="2" height="60">
            Leave Type: <br>
            <input type="text" placeholder="Leave Type" name="a5" required size="50">
        </th>
        </tr>

        <tr>
            <th height="60">start date:<br><input type="date" required name="a6"></th>
            <th height="60">End date:<br><input type="date" required name="a7"> </th>
        </tr>

        <tr>
        <th height="60" colspan="2">
            Reason:<br>
            <textarea cols="58" rows="4" required name="a8">Reason for leave </textarea>
        </th>
        </tr>
            <tr>
                <th colspan="2">
                    <center><button type="submit"> Submit </button></center>
                </th>
            </tr>
    </table>
    </form><br>
    {% for x in messages %}
    <table align="center" border="2">
        <tr>
            <th>
                <h4>{{ x }}</h4>
            </th>
        </tr>
    </table>
    {%endfor%}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
  </body>
</html>