<!doctype html>
<h3 lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>User_Request</title>
  </head>
  <table align="center">
      <tr>
          <th>
              {% include 'admin_temp/adminmenu.html' %}
          </th>
      </tr>
  </table>
  <br><br>

  {% if data %}
  <table align="center" border="2">
      <tr>
          <th>ROLL_NUMBER/IDNO</th>
          <th>NAME</th>
          <th>DEGISNATION</th>
          <th>DATE_OF_JOIN</th>
          <th>APPROVE</th>
          <th>DECLINE</th>
      </tr>
      {% for x in data %}
          <tr>
            <th>{{ x.idno }}</th>
            <th>{{ x.name }}</th>
            <th>{{ x.dept }}</th>
            <th>{{ x.designation }}</th>
            <td>
                <form action="{% url 'view_user' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="h1" value="{{ x.idno }}" required>
                    <button type="submit">Approve</button>
                </form>
            </td>

                <td>
                <form action="{% url 'decline' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="h2" value="{{ x.idno }}" required>
                    <button type="submit">Decline</button>
                </form>
            </td>
          </tr>
      {% endfor %}
  </table>
  {% else %}
      <h2 align="center">No Requests</h2>
  {% endif %}

  {% for x in messages %}
      <h3 align="center"> {{ x }} </h3>
  {% endfor %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>